PORT = 5002
HOST = localhost

DATABASE_URL = mongodb://root:root@localhost:27017

JWKS_URI=http://localhost:5001/jwks.json

KAFKA_CLIENT_ID = food-catalog-service
KAFKA_BROKERS =

KAFKA_SSL_CA= "-----BEGIN CERTIFICATE-----
<Some cool stuff goes here>
-----END CERTIFICATE-----
"

KAFKA_SSL_CERT = "-----BEGIN CERTIFICATE-----
<Some cool stuff goes here>
-----END CERTIFICATE-----
"

KAFKA_SSL_KEY = "-----BEGIN PRIVATE KEY-----
<Some cool stuff goes here>
-----END PRIVATE KEY-----
"

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=